#dropdown-basic {
  place-items: 10px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  img {
    width: 30px;
  }
  #rounded-circle {
    width: 30px;
  }
  .names {
    padding: 0 8px;
    font-size: 0.9em;
  }
}
