@import '../../../assets/sass/components';
@import '../../../assets/sass/global';

#dropdown-basic {
  place-items: 10px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  img {
    width: 30px;
    height: 30px;
  }
  #rounded-circle {
    width: 30px;
  }
  .names {
    padding: 0 8px;
    font-size: 0.9em;
  }

  .dropdown-menu {
    position: absolute;
  }
}
#menu {
  position: absolute;
  top: 52px;
  right: 5px !important;
  left: auto;
}

// extra small device
@media #{$extra-small-device} {
  #dropdown-basic {
    .names {
      display: none;
    }

    .dropdown-menu {
      position: absolute !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media #{$small-device} {
  #dropdown-basic {
    .names {
      display: none;
    }

    .dropdown-menu {
      position: absolute;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media #{$medium-device} {
  #dropdown-basic {
    .names {
      display: inline-block;
    }

    .dropdown-menu {
      position: absolute;
    }
  }
}
