@import '../../../assets/sass/components';
.user {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0 20px;
  .drop-down {
    .notif-icon {
      margin-top: auto;
      margin-left: 15px;
      font-size: 20px;
      color: $color-dark-grey;
    }

    .num {
      position: relative;
      bottom: 10px;
      right: 2px;
      padding: 0.2px 5px;
      border-radius: 50%;
      background: #f46036;
      color: $color-light;
      line-height: 18px;
      font-family: sans-serif;
      text-align: center;
    }
  }
}
