@import './../../assets/sass/global.scss';
@import './../../assets/sass/mixin.scss';

.illustration-box {
  background: $color-secondary;
  height: calc(100vh);
  z-index: 2;
  img {
    width: 60%;
    margin-top: 112px !important;
    margin-left: 180px !important;
  }
}

.form-box {
  background: white;
  margin-top: calc(15vh);
  padding: 3.5rem 3.5rem;
  .logo {
    width: 50px;
    height: auto;
    position: fixed;
    right: 18rem;
    top: 0.5rem;
  }
  h3 {
    text-align: justify;
    color: #555;
    font-family: 'Nunito', sans-serif;
  }
  .error-message-server {
    color: $color-primary;
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 0.85rem;
    margin-bottom: 1.6rem;
  }
  form {
    button {
      width: 100%;
    }
    .input:focus {
      outline: none !important;
      border: 2px solid rgba($color-primary, 0.5);
      box-shadow: 2px 0 6px rgba($color-primary, 0.8);
    }
  }
  p {
    margin-bottom: 4rem;
    text-align: justify;
    color: #666;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
  }
}

@media only screen and (max-width: 768px) {
  .illustration-box {
    display: none;
  }
  .form-box {
    padding: 2rem 2rem;
    .logo {
      width: 50px;
      height: auto;
      position: fixed;
      left: 2rem;
      top: 0.5rem;
    }
  }
}
